@page
@model CreateTopicModel
@{
    
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Crea un nuovo Topic su un manga !">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Topic</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Topic.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/css/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/css/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Topic">
    <meta property="og:type" content="website">
  </head>
  <section class="u-clearfix u-image u-shading u-section-1" id="sec-f9fe" data-image-width="1000" data-image-height="1000">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-expanded-width u-grey-10 u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-custom-font u-font-oswald u-subtitle u-text u-text-default u-text-1">Crea un nuovo Topic su un manga !</h2>
            <div class="u-form u-form-1">
              <form  method="post" style="padding: 20px;">
                <div class="u-form-group u-form-group-1">
                  <label for="text-2c8a" class="u-label u-label-1">Titolo</label>
                  <input asp-for="Topic.Name"type="text" placeholder="Inserire il titolo per il topic ..." id="text-2c8a" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-7 u-white">
                </div>
                <div class="u-form-group u-form-group-3">
                  <label for="text-39f8" class="u-label u-label-3">Manga</label>
                      <input asp-for="Topic.Manga.Title" type="text" placeholder="Cerca un manga ..." id="input" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-7 u-white" style="display:inline;">
                      <input readonly asp-for="@Model.MangaTitleTrovato" type="text" placeholder="Clicca il bottone per l'anteprima'" id="txt"class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-7 u-white" style="width: 300px;display: inline-block;-webkit-user-modify: read-only;">
                      <div id="img" style="background-image: url('data:image/png;base64,@Model.Manga.Image');width:46px;height: 46px;background-position: 50% 50%;border-radius: 50%;background-size: cover;display:inline;margin: 10px 10px -20px;display:inline-block"
                                    alt="@Model.Manga.Title" data-image-width="1280" data-image-height="800"></div>
                      <input type="submit" value="Check" name="Button" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-2 u-palette-1-light-1 u-radius-13 u-btn-1">
                </div>
                <div class="u-form-group u-form-message">
                  <label for="message-ba0f" class="u-label u-label-4">Messaggio</label>
                  <textarea asp-for="FirstPostMessage" placeholder="Scrivere il messaggio ..." rows="4" cols="50" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-7 u-white" maxlength="500"></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                  <input type="submit" value="Crea" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-2 u-palette-1-light-1 u-radius-13 u-btn-1"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    