@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Bentornato , la tua ultima visita risale al dd/mm/yyyy, hh/mm​, ​Vuoi unirti a noi e iniziare a discutere del tuo manga preferito?">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/css/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/css/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    
        <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
 <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-f2d0" data-image-width="1000" data-image-height="1000">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-border-3 u-border-grey-40 u-container-style u-expanded-width u-gradient u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-text u-text-body-color u-text-default u-text-1">
              <span style="font-style: italic;">Bentornato , la tua ultima visita risale al dd/mm/yyyy, hh/mm</span>
            </h1>
          </div>
        </div>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="100%">
            </colgroup>
            <thead class="u-grey-50 u-table-header u-text-black u-table-header-1">
              <tr style="height: 30px;">
                <th class="u-border-2 u-border-grey-40 u-table-cell">&nbsp;&gt; ULTIMI POST</th>
              </tr>
            </thead>
            <tbody class="u-palette-1-light-3 u-table-body u-table-body-1">
              <tr style="height: 51px;">
                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 0</td>
              </tr>
              <tr style="height: 64px;">
                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 1</td>
              </tr>
              <tr style="height: 60px;">
                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 2</td>
              </tr>
              <tr style="height: 62px;">
                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 3</td>
              </tr>
              <tr style="height: 63px;">
                <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 4</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-1 u-radius-13 u-btn-1">Crea Topic</a>
        <div class="u-expanded-width u-table u-table-responsive u-table-2">
          <table class="u-table-entity u-table-entity-2">
            <colgroup>
              <col width="6%">
              <col width="40.9%">
              <col width="10.8%">
              <col width="10.9%">
              <col width="31.5%">
            </colgroup>
            <thead class="u-grey-50 u-table-header u-text-black u-table-header-2">
              <tr style="height: 30px;">
                <th class="u-border-2 u-border-grey-40 u-table-cell"></th>
                <th class="u-border-2 u-border-grey-40 u-table-cell">&gt; TOPICS IN RILIEVO</th>
                <th class="u-border-2 u-border-grey-40 u-table-cell">Discussioni</th>
                <th class="u-border-2 u-border-grey-40 u-table-cell">Risposte</th>
                <th class="u-border-2 u-border-grey-40 u-table-cell">Ultimo messaggio</th>
              </tr>
            </thead>
            <tbody class="u-palette-1-light-3 u-table-body u-table-body-2">
              <tr style="height: 59px;">
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">Row 0</td>
                <td class="u-align-left u-border-1 u-border-grey-40 u-table-cell">__</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">__</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">___</td>
              </tr>
              <tr style="height: 55px;">
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">Row 1</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
              </tr>
              <tr style="height: 57px;">
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">Row 2</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
              </tr>
              <tr style="height: 52px;">
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">Row 3</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
              </tr>
              <tr style="height: 52px;">
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell">Row 4</td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-40 u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="u-image u-image-circle u-image-1" alt="" data-image-width="1280" data-image-height="800"></div>
        <div class="u-image u-image-circle u-image-2" alt="" data-image-width="1280" data-image-height="800"></div>
        <div class="u-image u-image-circle u-image-3" alt="" data-image-width="1280" data-image-height="800"></div>
        <div class="u-image u-image-circle u-image-4" alt="" data-image-width="1280" data-image-height="800"></div>
        <div class="u-image u-image-circle u-image-5" alt="" data-image-width="1280" data-image-height="800"></div>
        <img class="u-image u-image-round u-radius-10 u-image-6" src="~/images/pngegg11.png" alt="" data-image-width="500" data-image-height="706">
        <div class="u-align-left u-container-style u-group u-radius-33 u-shape-round u-similar-fill u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
          <div class="u-container-layout u-padding-12 u-container-layout-2">
            <h2 class="u-custom-font u-font-oswald u-text u-text-palette-1-light-1 u-text-2"> Vuoi unirti a noi e iniziare a discutere del tuo manga preferito?<br>
              <br>
            </h2>
            <img class="u-expanded-width u-image u-image-round u-radius-33 u-image-7" src="~/images/Pngtreeblackandcartoonstyle_4825478.png" alt="" data-image-width="1200" data-image-height="1200" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">
          </div>
        </div>
        <img class="u-image u-image-round u-radius-10 u-image-8" src="~/images/pngegg12.png" alt="" data-image-width="757" data-image-height="854">
        <a class="u-active-palette-3-dark-3 u-border-none u-btn u-btn-round u-button-style u-grey-50 u-hover-palette-3-dark-3 u-radius-50 u-btn-2" target="_blank" data-animation-name="customAnimationIn" data-animation-duration="1000">REGISTRATI ORA !</a>
      </div>
    </section>